In [1]:
#%%
%load_ext autoreload
%autoreload 2

# Quick Start
Install using ``pip`` and then import and use one of the tracking readers. This example
loads a local file.tcx.

In [27]:
# !pip install runpandas
import runpandas as rpd
activity = rpd.read_file('./sample.tcx')

In [28]:
activity.head(5)

                 alt       dist    hr        lon        lat
time
00:00:00  178.942627   0.000000  62.0 -79.093187  35.951880
00:00:01  178.942627   0.000000  62.0 -79.093184  35.951880
00:00:06  178.942627   1.106947  62.0 -79.093172  35.951868
00:00:12  177.500610  13.003035  62.0 -79.093228  35.951774
00:00:16  177.500610  22.405027  60.0 -79.093141  35.951732

The data frames that are returned by runpandas when
loading files is similar for different file types.
The dataframe in the above example is a subclass of the
``pandas.DataFrame`` and provides some additional features.
Certain columns also return specific ``pandas.Series`` subclasses,
which provides useful methods:

In [29]:
print (type(activity))
print(type(activity.alt))

<class 'runpandas.types.frame.Activity'>
<class 'runpandas.types.columns.Altitude'>

For instance, if you want to get the base unit for the altitude ``alt`` data or the distance ``dist`` data:

In [41]:
activity.alt.base_unit
activity.alt.sum()

65883.68151855901

In [43]:
activity.dist.base_unit
activity.dist[-1]

4686.31103516