In [1]:
%load_ext autoreload
%autoreload 2
%load_ext restmagic
import warnings
warnings.filterwarnings('ignore')

import runpandas
import os

In [2]:
client = runpandas.StravaClient()
client.authenticate_web()

In [3]:
activity = runpandas.read_strava('6219775819')

In [4]:
activity

,moving,velocity_smooth,grade_smooth,alt,cad,dist,lon,lat,pwr
time,,,,,,,,,
0 days 00:00:00,False,0.000,0.0,288.0,0,0.0,-93.14491,44.789734,NaN
0 days 00:00:01,False,0.000,0.0,288.0,0,0.0,-93.14491,44.789734,NaN
0 days 00:00:02,False,0.000,0.0,288.0,0,0.0,-93.14491,44.789734,NaN
0 days 00:00:03,False,0.000,0.0,288.0,0,0.0,-93.14491,44.789734,NaN
0 days 00:00:04,False,0.000,0.0,288.0,0,0.0,-93.14491,44.789734,NaN
...,...,...,...,...,...,...,...,...,...
0 days 01:24:09,False,0.200,23.7,276.0,55,10914.0,-93.14447,44.789354,117.0
0 days 01:24:10,False,0.100,31.1,276.0,55,10914.0,-93.14447,44.789354,118.0
0 days 01:24:11,False,0.000,45.1,276.0,55,10914.0,-93.14447,44.789354,119.0
0 days 01:24:12,False,0.000,45.1,276.0,55,10914.0,-93.14447,44.789354,NaN
0 days 01:24:13,True,0.044,45.1,276.0,55,10914.2,-93.14447,44.789354,NaN